<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HelloAVFoundation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A06C5C081EACAC2100DE4FB4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A06C5C1C1EACAC2100DE4FB4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A06C5C271EACAC2100DE4FB4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
